footer(
    class="footer-2"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        div

            ul

                li: a(href="#") Linux \ Mac 
                li: a(href="#") Python
                li: a(href="#") Jamstack
                li: a(href="#") Hosted Web Apps
                li: a(href="#") Internet Research

        div

            ul

                li: a(href="#") Web 3
                li: a(href="#") Blockchain
                li: a(href="#") Cryptocurrency
                li: a(href="#") Decentralized Identity
                li: a(href="#") Machine Learning

        div

            table(class="vcard")

                thead

                    tr

                        th(colspan="2" class="org") Explicate Capital LLC

                tbody

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-address")
                        td(class="street-address") 30 N Gould St Ste R

                    tr
                        td
                        td(class="locality") Sheridan, WY 82801

                    tr
                        td
                        td(class="country-name") United States

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#cib-mail-ru")
                        td(class="location") mail at explicate dot xyz

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-phone")
                        td(class="tel"): a(href="tel:00-00-000-0000") (+00) 000-000-0000


