section(class="canvas front" id="front")

    div(class="content")

        h2 Explicate Capital LLC

        div

            p Capital intelligence supporting intelligent capital.

            div

                a(href="#focus") Focus
                a(href="#results") Results

    +nav-1({ target: "determination", direction: "next" })
