section(class="canvas section-3" id="results")

    h2 Results

    div(class="content")

        div
            figure
                img(src="images/global/_symbols/cil-keyboard.svg" inline)

            article

                h3 Code
                p.
                    We cultivate quality code-bases for fulfilling universal needs, and know how to find what we can't produce.

        div
            figure
                img(src="images/global/_symbols/cil-list-rich.svg" inline)

            article

                h3 Newsletters
                p.
                    Everything you need to create a weekly review of industry updates.

        div
            figure
                img(src="images/global/_symbols/cil-devices.svg" inline)

            article

                h3 Landing Pages
                p.
                    Create multiple web-resources and landing page to relate essential details of your team and\or product.

        div
            figure
                img(src="images/global/_symbols/cil-dog.svg" inline)

            article

                h3 Memetics
                p.
                    Connecting culture with action.

        div
            figure
                img(src="images/global/_symbols/cil-chat-bubble.svg" inline)

            article

                h3 Discord
                p.
                    Powerful tools for organizing team communications, while providing a creative space for the community to inhabit.

        div
            figure
                img(src="images/global/_symbols/cil-voice-over-record.svg" inline)

            article

                h3 Outreach
                p.
                    We also reach out to neighboring communities for potential collaboration opportunities, and coincidence of wants.

    +nav-1({ target: "front", direction: "prev" })
