section(class="canvas section-1" id="determination")

    h2 Determination

    div(class="content")

        div

            img(src="images/home/section-1/_inline/mountains-svgrepo-com.svg" inline)

            article

                h2 Relentless
                p.
                    You're going places, but figuring out the exact steps necessary to get there requires relentless effort and attention.

    +nav-1({ target: "focus", direction: "next" })
