section(class="canvas section-2" id="focus")

    h2 Focus

    div(class="content")

        div

            img(src="images/global/_symbols/cil-rss.svg" inline)

            article

                h2 Aggregation

                p.
                    Feeds from a variety of relevant sources directed to central locations for ease of review. May include blog feeds, social media searches, github activity, google alerts, and custom crawlers.

        div

            img(src="images/global/_symbols/cil-cog.svg" inline)

            article

                h2 Tool Chains
                p.
                    There are a number of ways to accomplish your goals. Choosing the best for you can depend on your existing workflows and any non-optional components.

        div

            img(src="images/global/_symbols/cil-audio.svg" inline)

            article

                h2 Public Relations
                p.
                    In addition to whatever social channels we pipe into our news feeds, there is a question of what will the the main channels for outreach, where your project shows its face to the world. 

        div

            img(src="images/global/_symbols/cil-people.svg" inline)

            article

                h2 Community
                p.
                    A community properly equipped and motivated is your best asset. It's always a good time to start thinking about community development, but they need something of real value to rally behind.

    +nav-1({ target: "section-3", direction: "next" })
